body {
    font-family: Arial;
    font-size: 14px;
}

.top {
    text-align: right;
}

.top a { /* spacement between links on the top and underline removal */
    margin-left: 5px;
    margin-right: 5px;
    text-decoration-line: none;
} 

.apps:hover { /* I need to learn how to define transparency in a .png file */
    filter: brightness(30%);
}

.acc { /* style for the Sign In button; I'm not sure how it is written in the portuguese website */
    color: white;
    background-color: #4285f4;
    padding: 8px 12px;
    border-radius: 4px;
}

.core { /* workaround for centering the core of the page (logo + search bar + buttons */
    text-align: center;
    margin: 15% auto;
    width: 450px;
    height: 300px;
}

form { /* needed to put some distance between this and the logo */
    margin-top: 10px;
}

#searchbar {
    margin-bottom: 10px;
    width: 450px;
    height: 35px;
    font-size: 20px;
    box-shadow: 2px 2px rgb(116, 116, 116);
    border-radius: 10px;
}

.buttons {
    font-size: 16px;
    height: 36px;
    width: 150px;
    border-radius: 5px;
    margin: auto 5px;
}

/* writing the code below almost killed me */

.footer { /* somehow, with this, the footer sticks to the bottom of the page like it's supposed to */
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: gray;
    left: 0;
}

.footer, .lastline{ /* style just for the sake of similarity with the original page; doubtful levels of success :P */
    border-top: 1px solid rgb(65, 64, 64);
    color: rgb(65, 64, 64);
    background-color: rgb(168, 168, 168);
}

.footer p, .left {
    padding-left: 10px;
}

.lastline {
    padding-top: 13px;
    padding-bottom: 13px;
}

.left, .right { /* I guess this is supposed to keep the 6 last links aligned */
    display: inline-block;
}

.left a {
    margin-right: 24px;
    text-decoration-line: none;
    color: rgb(65, 64, 64);
}

.right { /* not sure why text-align didn't work, even less sure why this did */
    float: right;
    padding-right: 10px;
}

.right a {
    margin-left: 24px;
    text-decoration-line: none;
    color: rgb(65, 64, 64);
}